# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environments
myenv/
venv/
.env/
.envrc
.venv/
.env

# FAISS index storage
faiss_store_openai/

# Temporary uploads
temp/

# Streamlit cache
.streamlit/

# OS-specific files
.DS_Store
Thumbs.db

.gitignore